:root{
    /* https://coolors.co/f94144-f3722c-f8961e-f9844a-f9c74f-90be6d-43aa8b-4d908e-577590-277da1 */
    --primary: #F94144;
    --secondary: #43AA8B;
    --borderRadius: 10px;
}

.bg-castom{
    color: #F94144!important;
}

.h2-cs{
    color: rgb(29, 27, 27);
}

p{
    color: rgb(29, 27, 27);
}

h5{
    color: rgb(29, 27, 27);
}
.col1p{
    color: black;
}


.selettore{
    display:inline-block;
}

.color-modal{
    background-color: #212529 !important
}

.margt{
    margin-top:100px
}

.nob{
    border: none !important;
    padding: 0;
}

.nob-txarea{
    padding: 0 !important;
}

.color-tx-area{
    color:rgb(93, 93, 93) !important;
}


/* PROVA MODIFICA FOCUS */
.btn-outline2-danger {
    color: rgb(221, 46, 46) ;
    border-color: rgb(255, 255, 255) !important;
}

.btn-outline2-danger:hover {
    border-color: rgb(255, 255, 255) !important;
}

.btn-check:focus + .btn-outline2-danger, .btn-outline2-danger:focus {
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5) !important;
}

.btn-check:checked + .btn-outline2-danger, .btn-check:active + .btn-outline2-danger, .btn-outline2-danger:active, .btn-outline2-danger.active, .btn-outline2-danger.dropdown-toggle.show {
    border-color: rgb(219, 219, 219) !important;
}

.btn-check:checked + .btn-outline2-danger:focus, .btn-check:active + .btn-outline2-danger:focus, .btn-outline2-danger:active:focus, .btn-outline2-danger.active:focus, .btn-outline2-danger.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5) !important;
}

.btn-outline2-danger:disabled, .btn-outline2-danger.disabled {
    color: rgb(221, 46, 46) ;
    background-color: transparent !important;
}

.masthead {
    height: 70vh;
    min-height: 500px;
    background-image: url('/img/masthead1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.search{
    position:relative;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 60px;
    transition: 0.5s;
    box-shadow: 0 0 0 5px rgb(0, 0, 0);
}

.search.active{
    width: 360px;
}

.search.icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background:  #fff;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}


.search.icon::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid #287dfc;
    border-radius: 50%;
    transform: translate(-4px,-4px);
}

.search.icon::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 12px;
    background: #287dfc;
    transform: translate(6px,6px) rotate(315deg);
}

.bdr{
    border-radius: var(--borderRadius);
}

/* .forNow {
    background:linear-gradient(
        205deg,
        hsl(324, 100%, 45.1%) 0%,
        hsl(320.69, 66.86%, 50.27%) 11.7%,
        hsl(313.6, 55.24%, 50.31%) 21.7%,
        hsl(305.29, 46.59%, 49.73%) 30.2%,
        hsl(296.43, 42.51%, 50.26%) 37.4%,
        hsl(289.12, 44.29%, 52.13%) 43.7%,
        hsl(283.39, 45.75%, 53.53%) 49.2%,
        hsl(278.74, 46.98%, 54.62%) 54.1%,
        hsl(274.62, 48.1%, 55.56%) 58.6%,
        hsl(270.47, 49.26%, 56.47%) 63.1%,
        hsl(265.69, 50.61%, 57.49%) 67.6%,
        hsl(259.62, 52.37%, 58.72%) 72.5%,
        hsl(251.51, 54.76%, 60.28%) 78%,
        hsl(240.23, 58.11%, 62.24%) 84.2%,
        hsl(227.06, 68.33%, 58.58%) 91.5%,
        hsl(210, 100%, 45.1%) 100%
        );
  }; */

  /*******************************/
/********* Service CSS *********/
/*******************************/
.service {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.service .service-item {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, .07);
    transition: .3s;
}

.service .service-item:hover,
.service .service-item.active {
    background: #343148;
    color: #ffffff;
}

.service .service-icon {
    position: relative;
    margin: 0 auto 25px auto;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.service .service-icon i {
    position: relative;
    font-size: 50px;
    color: #343148;
    z-index: 3;
}

.service .service-icon:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #F7CAC9;
    border-radius: 50%;
    animation: pulse-border 2000ms ease-out infinite;
}

.service .service-icon:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #F7CAC9;
    border-radius: 50%;
    transition: all 200ms;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.3);
    opacity: 0;
  }
}

.service .service-item h3 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    transition: .3s;
}

.service .service-item:hover h3,
.service .service-item.active h3 {
    color: #F7CAC9;
}

.service .service-item p {
    margin: 0;
    font-size: 16px;
}

.altcont{
    height:100vh;
}

.ron{
    border-radius: 24px;
}

.imgbac{
    background-image: url(/img/sfondo.jpg);
    background-size: cover;
}

