:root{
    /* https://coolors.co/f94144-f3722c-f8961e-f9844a-f9c74f-90be6d-43aa8b-4d908e-577590-277da1 */
    --primary: #F94144!important;
    --secondary: #43AA8B!important;
    --borderRadius: 10px!important;
}

body {
    min-height: 100vh;
}

.primary {
    color: #F94144;
}

.p-btn {
    background-color: #F94144!important;
    color: white!important;
    border-radius: 10px!important;
    transition: 0.3s!important;
}

.p-btn:hover {
    background-color: #43AA8B!important;
    color: white!important;
    border-radius: 10px!important;
    /* border: solid 2px #F94144; */

}

.bg-footer{
    background-color: #43AA8B;
}

.text-white {
    color: white;
}

.card-border{
    border: solid 1px rgb(187, 187, 187);
    border-radius: 10px;
}

.nav-border {
    border-bottom: solid 1px rgb(187, 187, 187);
}

.navbar-link {
    color: black!important;
    transition: 0.3s;
    border-radius: 10px;
}

.navbar-link:hover {
    color: white!important;
    background-color: #43AA8B;
    border-radius: 10px!important;
}

.forgot-btn {
    text-decoration: underline #43AA8B!important;
    color: #43AA8B!important;
    transition: 0.3s!important;
}

.forgot-btn:hover {
    text-decoration: underline #F94144;
    color: #F94144;
}

.card-header-auth {
    background-color: #F94144;
    border-radius: var(--borderRadius);
}

.p-select{
    background-color: #43AA8B;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 5px;
}

.secondary {
    color: #43AA8B!important;
}

.btn {
    border-radius: 10px!important;
}

.p-category {
    text-decoration: none;
    color: #43AA8B;
    transition: 0.3s;
}

.p-category:hover {
    text-decoration: none;
    color: #F94144;
}

.p-bg-nav {
    background-color:#F94144!important;
}

.card-header {
    background-color: #43AA8B!important;
    border-radius: 10px!important;
}

.p-home-card-title {
    border: solid 2px black;
    border-radius: 10px;
    background-color: var(--secondary);
}

.p-home-card-image {
    border: solid 2px black;
    border-radius: 10px;
    background-color: white;
}

.p-rounded {
    border-radius: 10px;
}

.nav-space {
    min-height: 87px;
}

.transparent {
    color: transparent;
}

.p-bg-footer {
    background-color: var(--secondary);
}

.p-link-footer {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.p-link-footer:hover {
    color: rgb(145, 208, 245);
    transition: 0.3s;
}

.p-border {
    border: 1px solid rgb(201, 201, 201);
    border-radius: 3px;
}

.p-radius {
    border-radius: 10px;
}

.p-border-bottom {
    border-bottom: 1px solid rgb(201, 201, 201);
}
